@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comfortaa";
  src: url("../public/assets/fonts/Comfortaa-Medium.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("../public/assets/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("../public/assets/fonts/Comfortaa-Bold.ttf");
}

@font-face {
  font-family: "Comfortaa-Light";
  src: url("../public/assets/fonts/Comfortaa-Light.ttf");
}
